<!-- <ul class="uk-navbar-nav mt-2"> -->
    <li class="">
        <a href="#" class="py-2">
            <div>
                <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='toggle-mute' uk-tooltip="Mic"><img src="../assets/img/mic.png" alt="input-img"></p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <!-- <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='toggle-video' uk-tooltip="Video"><i class="fas fa-video h4 mr-2"></i></p> -->
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='toggle-video' uk-tooltip="Video"><img src="../assets/img/video.png" class="mt-3" alt="input-img"></p>
        </a>
    </li>
    <li>
        <a href="#">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='share-screen' uk-tooltip="Screen Share"><img src="../assets/img/share.png" class="mt-3" alt="input-img"></p>
        </a>
    </li>
    <li>
        <a href="#">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" uk-tooltip="Invite People"><img src="../assets/img/invite.png" class="mt-3" alt="input-img"></p>
        </a>
    </li>
    <!-- <hr class="uk-divider-vertical"> -->
    <!-- <li>
        <a><p class="uk-text-large text-white uk-box-shadow-hover-xlarge px-2" id='toggle-chat-pane' uk-tooltip="Chat">
            <i class="fas fa-comment-alt"></i><span class="badge badge-danger font-weight-lighter" id='new-chat-notification' hidden style="font-size: 10px;">New</span>
        </p></a>
    </li> -->
    <li>
        <a href="/">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge px-2" onclick="UIkit.notification({message: 'Leaving Room !', status: 'success'});" uk-tooltip="Leave"><img src="../assets/img/leave.png" class="mt-3" alt="input-img"></p>
        </a>
    </li>
    
    <div class="uk-hidden" ></div>
    <div class="uk-hidden" id='record'></div>
<!-- </ul> -->