<!-- <ul class="uk-navbar-nav mt-2"> -->
    <li class="">
        <a href="#" class="py-2">
            <div>
                <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='toggle-mute' uk-tooltip="Mic"><i class="fas fa-microphone-alt h4 mr-2"></i></p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='toggle-video' uk-tooltip="Video"><i class="fas fa-video h4 mr-2"></i></p>
        </a>
    </li>
    <li>
        <a href="#">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='share-screen' uk-tooltip="Screen Share"><i class="fas fa-desktop mr-2"></i></p>
        </a>
    </li>
    <li>
        <a href="#">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" uk-tooltip="Invite People"><i class="fas fa-users mr-2"></i></p>
        </a>
    </li>
    <li>
        <a><p class="uk-text-large text-white uk-box-shadow-hover-xlarge px-2" id='toggle-chat-pane' uk-tooltip="Chat">
            <i class="fas fa-comment-alt"></i><span class="badge badge-danger font-weight-lighter" id='new-chat-notification' hidden style="font-size: 10px;">New</span>
        </p></a>
    </li>
    <li>
        <a href="/">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge px-2" uk-tooltip="Leave"><i class="fas fa-power-off"></i></p>
        </a>
    </li>
    
    <div class="uk-hidden" ></div>
    <div class="uk-hidden" id='record'></div>
<!-- </ul> -->