<!-- <ul class="uk-navbar-nav mt-2"> -->
    <li class="">
        <a href="#" class="py-2">
            <div>
                <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='toggle-mute' ><img src="../assets/img/mike.png" uk-tooltip="title:Mic; pos:bottom" class="min-width-logo" alt="input-img"></p>
            </div>
        </a>
    </li>
    <li><hr class="uk-divider-vertical uk-visible@m" style="height: 4vh;margin-top: 13px;filter: contrast(0.6);"></li>
    <li>
        <a href="#">
            <!-- <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='toggle-video' uk-tooltip="title:Video"><i class="fas fa-video h4 mr-2"></i></p> -->
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" ><img src="../assets/img/video.png" id='toggle-video' uk-tooltip="title:Camera is on;pos:bottom" class="min-width-logo" alt="input-img"></p>
        </a>
    </li>
    <hr class="uk-divider-vertical uk-visible@m" style="position: relative;top: -33px;bottom: 0;filter: contrast(0.6);">
    <li>
        <a href="#">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" id='share-screen' ><img src="../assets/img/sharescreen.png" uk-tooltip="title:Screen Share;pos:bottom" class="min-width-logo" alt="input-img"></p>
        </a>
    </li>
    <li><hr class="uk-divider-vertical uk-visible@m" style="height: 4vh;margin-top: 13px;filter: contrast(0.6);"></li>
    <li>
        <a href="#">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge" ><img src="../assets/img/invite.png" class="min-width-logo" uk-tooltip="title:Invite People; pos:bottom" alt="input-img"></p>
        </a>
    </li>
    <hr class="uk-divider-vertical uk-visible@m" style="position: relative;top: -33px;bottom: 0;filter: contrast(0.6);">
    <!-- <hr class="uk-divider-vertical"> -->
    <!-- <li>
        <a><p class="uk-text-large text-white uk-box-shadow-hover-xlarge px-2" id='toggle-chat-pane' uk-tooltip="title:Chat">
            <i class="fas fa-comment-alt"></i><span class="badge badge-danger font-weight-lighter" id='new-chat-notification' hidden style="font-size: 10px;">New</span>
        </p></a>
    </li> -->
    <li>
        <a href="/">
            <p class="uk-text-large text-white uk-box-shadow-hover-xlarge px-2" onclick="UIkit.notification({message: 'Leaving Room !', status: 'success'});" ><img src="../assets/img/leave.png" class="min-width-logo" uk-tooltip="title:Leave; pos:bottom" alt="input-img"></p>
        </a>
    </li>
    
    <div class="uk-hidden" ></div>
    <div class="uk-hidden" id='record'></div>
<!-- </ul> -->