<%- include('./header')  %> 
<title>Royex Live</title>
    <!-- navbar -->
    <header>
        <nav class="uk-navbar-container bg_img py-2 room-comm" id="nav" hidden uk-navbar>
            <div class="uk-navbar-left">
                <img src="./assets/img/logo.png" class="pl-4">
            </div>
            <div class="uk-navbar-right px-4 uk-visible@m">
                <ul class="uk-navbar-nav">
                    <li id="m-1">
                        <img src="./assets/img/mike.png" id='toggle-mute' class="px-4 pt-2" uk-tooltip="Voice is audiable">
                    </li>
                    <div style="border-right: .1px solid #ffff;filter: brightness(.7);height: 3.7vh;margin-top: 1.2vh;"></div>
                    <li id="m-2"><img src="./assets/img/video.png" id='toggle-video' class="px-4 pt-3" alt="" uk-tooltip="Camera is on">
                    </li>
                    <div style="border-right: .1px solid #ffff;filter: brightness(.7);"></div>
                    <li id="m-3"><img src="./assets/img/invite.png"  class="px-4 pt-3 " alt="" uk-tooltip="Invite People">
                    </li>
                    <div style="border-right: .1px solid #ffff;filter: brightness(.7);height: 3.7vh;margin-top: 1.2vh;"></div>
                    <li id="m-4"><img src="./assets/img/sharescreen.png" id='share-screen' class="px-4 pt-3" alt="" uk-tooltip="Share Screen">
                    </li>
                    <div style="border-right: .1px solid #ffff;filter: brightness(.7);height: 3.7vh;margin-top: 1.2vh;"></div>
                    <li id="m-5">
                        <img src="./assets/img/layout.png" class="px-4 pt-3" alt="">
                        <div class="uk-navbar-dropdown bg_img" style="top:58px">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#" class="layout white_text" uk-tooltip="Change to layout 1">Layout 1</a></li>
                                <li><a href="#" class="layout white_text" uk-tooltip="Change to layout 2">Layout 2</a></li>
                            </ul>
                        </div>
                    </li>
                    <div style="border-right: .1px solid #ffff;filter: brightness(.7);"></div>
                    <li>
                        <input type="hidden" id="session_name" value="">
                        <input type="hidden" id="meeting-id-leave" value="">
                        <img src="./assets/img/leave.png" onclick="UIkit.notification({message: 'Leaving Room !', status: 'success'});" id="leave-button" class="px-4 pt-2" alt="" uk-tooltip="Leave Meeting">
                    </li>
                    <div class="uk-hidden" id='record-screen'></div>
                    <div class="uk-hidden" id='record-video'></div>
                    <div class="uk-hidden" id='closeModal'></div>
                    <div class="uk-hidden" id='record'></div>
                </ul>
            </div>

            <!-- mobile menu -->
            <div class="uk-navbar-right px-4 uk-hidden@m">
                <ul class="uk-navbar-nav">
                    <li><span uk-icon="icon: menu; ratio: 2" class="white_text" uk-toggle="target: #offcanvas-reveal"></span></li>
                </ul>
            </div>

            <!-- off-canvas for moblie menu -->
            <div id="offcanvas-reveal" uk-offcanvas="mode: push; overlay: true; flip:true">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column bg_img">
                    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical" id="nav-items"></ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- create room portion -->
    <section class="bg_img uk-height-viewport" id="room-create" hidden>
        <div>
            <div class="uk-container uk-container-small">
                <h1 class="uk-margin-small-top white_text uk-text-center pb-3 uk-visible@m"
                style="font-family: 'Lexend Peta', sans-serif !important;font-size: 7rem;">royex.live</h1>
                <h1 class="uk-hidden@m uk-margin-top white_text uk-text-center pb-3" style="font-family: 'Lexend Peta', sans-serif !important;color:#fff;font-size: 3rem;">royex.live</h1>
                <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid uk-grid-match" uk-grid>
                    <div>
                        <div class="uk-card border uk-padding white-background uk-border-rounded" style="background-color: #ffff;">
                            <h1 class="uk-text-center uk-margin-small-bottom">Start New <br><strong><span style="color: #2376BC;">Meeting</span> </strong></h1>
    
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon form-icon"><img src="../assets/img/mn.png" alt="input-img"></span>
                                    <input class="uk-input py-4" id='room-name' placeholder="Meeting Name" required
                                        type="text">
                                </div>
                                <div class="uk-alert-danger uk-hidden" id="alert-room-name" uk-alert>
    
                                    <p class="form-text text-font" id='err-msg-room-name'></p>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon form-icon"><img src="../assets/img/fn.png" alt="input-img"></span>
                                    <input class="uk-input py-4" id='your-name' required placeholder="Name" type="text">
                                </div>
                                <div class="uk-alert-danger uk-hidden" id="alert-name" uk-alert>
    
                                    <p class="form-text text-font" id='err-msg-name'></p>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon form-icon"><img src="../assets/img/sn.png" alt="input-img"></span>
                                    <input class="uk-input py-4" placeholder="Your Email" required id='your-email'
                                        type="email">
                                </div>
                                <div class="uk-alert-danger uk-hidden" id="alert-email" uk-alert>
    
                                    <p class="form-text text-font" id='err-msg-email'></p>
                                </div>
                            </div>
                            <div class="uk-margin uk-text-center">
                                <div class="uk-child-width-1-2@m uk-child-width-1-1@s">
                                    <button
                                        class="uk-button font-family uk-text-bold px-5 py-2 uk-text-center uk-border-rounded uk-box-shadow-hover-xlarge"
                                        style="background-color:#622C80;color:#fff" id='create-room'>Start</button>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Join Meeting Part -->
                    <div>
                        <div class="uk-card border uk-padding uk-border-rounded" style="background-color: #ffff;">
                            <h1 class="uk-text-center uk-margin-small-bottom">Join <br><strong><span style="color:#622C80">Meeting</span> </strong></h1>
                            <br><br>
                            <div class="uk-margin uk-width-1-1">
                                <div class="uk-form-controls">
                                    <select class="uk-select" id="join-way" onchange="joinWay(this)"
                                        id="form-stacked-select">
                                        <option value="" selected>Join in meeting with</option>
                                        <option value="url">URL</option>
                                        <option value="meeting-ID">Meeting ID</option>
                                    </select>
                                </div>
                                <div class="uk-alert-danger uk-hidden" id="alert-join-way" uk-alert>
    
                                    <p class="form-text text-font" id='err-msg-join-way'></p>
                                </div>
                            </div>
                            <div class="uk-margin uk-hidden" id="meeting-ID">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon form-icon"><img src="../assets/img/mn.png" alt="input-img"></span>
                                    <input class="uk-input py-4" id="room-join-id"
                                        placeholder="Please input the Meeting ID" type="text">
                                </div>
                                <div class="uk-alert-danger uk-hidden" id="alert-room-id" uk-alert>
    
                                    <p class="form-text text-font" id='err-msg-room-id'></p>
                                </div>
                            </div>
                            <div class="uk-margin uk-hidden" id="url">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon form-icon"><img src="../assets/img/mn.png" alt="input-img"></span>
                                    <input class="uk-input py-4" id="room-join-url"
                                        placeholder="Please input the Meeting URL" type="text">
                                </div>
                                <div class="uk-alert-danger uk-hidden" id="alert-room-link" uk-alert>
    
                                    <p class="form-text text-font" id='err-msg-room-link'></p>
                                </div>
                            </div>
                            <div id="button-break"><br><br></div>
                            <div class="uk-margin uk-text-center">
                                <div class="uk-child-width-1-2@m uk-child-width-1-1@s">
                                    <button id="join-room"
                                        class="uk-button font-family uk-text-bold px-5 py-2 uk-text-center uk-border-rounded uk-box-shadow-hover-xlarge"
                                        style="background-color:#2376BC;color:#fff">Join</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- footer -->
        <footer>
            <div class="uk-visible@m">
                <div class="uk-navbar-container footer uk-position-bottom" uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text">Go Back to Royex.live</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-hidden@s uk-margin-large-top">
                <div class="uk-navbar-container footer" uk-navbar>
                    <div class="uk-navbar-center">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <!-- Link generation portion portion -->
    <section class="uk-height-viewport bg_img uk-hidden" id="room-creation">
        <div class="uk-container uk-container-small">
            <h1 class="uk-margin-top white_text uk-text-center pb-3 uk-visible@m"
                style="font-family: 'Lexend Peta', sans-serif !important;font-size: 7rem;">royex.live</h1>
            <h1 class="uk-hidden@m uk-margin-top white_text uk-text-center pb-3" style="font-family: 'Lexend Peta', sans-serif !important;color:#fff;font-size: 3rem;">royex.live</h1>
            <div class="uk-margin-medium-top uk-visible@m"></div>
            <div class="uk-margin-large-top uk-visible@xl uk-visible@l"></div>
            <div class="uk-card uk-border-rounded" style="background-color: #9FC6E7;">
                <div class="uk-padding-small uk-text-center meeting-text-panel">
                    <h3 class="mb-2 mt-1 text-font uk-text-bolder">Meeting room successfully created</h3>
                    <h4 class="mt-0 mb-1 text-font uk-visible@m">Share the room link with your friends/partner</h4>
                </div>
            </div>
            <div class="uk-margin-large-top uk-visible@xl uk-visible@l"></div>
            <div class="uk-margin-large-top "></div>
            <div class="uk-text-center">
                <h3 class="uk-text-bold text-font" id="room-id" style="color:#fff"></h3>
            </div>
            <div class="uk-text-center uk-container uk-container-xsmall">
                <div class="link-share-panel">
                    <div class="uk-inline uk-width-3-4">
                        <span class="uk-form-icon form-icon"><img src="../assets/img/mn.png" alt="input-img"></span>
                        <input class="uk-input py-4 uk-text-center" id='room-created' placeholder="Meeting Name"
                            readonly type="text">
                    </div>
                </div>

                <div class="mx-5 uk-margin-large-right uk-margin-top uk-margin-large-left">
                    <div class="mx-5 uk-margin-large-right uk-margin-large-left">
                        <div class="uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-match uk-grid-small" uk-grid>
                            <div>
                                <button style="background-color: #131313;"
                                    class="uk-button uk-button-secondary py-1 uk-border-rounded uk-box-shadow-hover-xlarge"
                                    onclick="UIkit.notification({message: 'Copied !', status: 'success'});copyClipBoard('#room-created')">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon form-icon "
                                            style="position: absolute;left: -6vh;"><img src="../assets/img/linkbtn.png"
                                                alt="input-img"></span>
                                        <div>Copy Link</div>
                                    </div>
                                </button>
                            </div>
                            <div>
                                <button style="background-color:transparent;"
                                    class="uk-button uk-button-secondary border py-1 uk-border-rounded uk-box-shadow-hover-xlarge"
                                    onclick="UIkit.notification({message: 'Copied !', status: 'success'});copyClipBoard('#room-created')">
                                    <div class="uk-inline">
                                        <span class="uk-form-icon form-icon "
                                            style="position: absolute;left: -6vh;"><img src="../assets/img/inbox.png"
                                                alt="input-img"></span>
                                        <div>Invite</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="mx-5 uk-margin-large-right uk-margin-large-left">
                        <div class="uk-child-width-1-1 uk-grid-match" uk-grid>
                            <div>
                                <a onclick="roomLink()" id="start-meeting"
                                    class="uk-button uk-button-large uk-border-rounded py-1 uk-box-shadow-hover-xlarge"
                                    style="background-color: #622C80;color:#fff;font-weight: bolder;">Start Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer>
            <div class="uk-visible@m">
                <div class="uk-navbar-container footer uk-position-bottom" uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text">Go Back to Royex.live</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-hidden@s uk-margin-large-top">
                <div class="uk-navbar-container footer" uk-navbar>
                    <div class="uk-navbar-center">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>

    <!-- Save name Page portion -->
    <section class="uk-height-viewport bg_img" id='username-set' hidden>
        <div class="uk-container uk-container-large">
            <h1 class="uk-margin-top white_text uk-text-center pb-2 uk-visible@m"
                style="font-family: 'Lexend Peta', sans-serif !important;font-size: 7rem;">royex.live</h1>
            <h1 class="uk-hidden@m uk-margin-top white_text uk-text-center pb-2" style="font-family: 'Lexend Peta', sans-serif !important;color:#fff;font-size: 3rem;">royex.live</h1>
            <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid uk-grid-match" uk-grid id="room-create">
                <div class="uk-visible@m"></div>
                <div>
                    <div class="uk-card border uk-padding white-background uk-border-rounded" style="background-color: #ffff;">
                        <h1 class="uk-text-center text-font mb-2">Join <strong><span style='color:#622C80'> Meeting </span></strong></h1>
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon form-icon"><img src="../assets/img/mn.png" alt="input-img"></span>
                                <input class="uk-input py-3" id='meeting-name' type="text" readonly>
                            </div>
                        </div>
                        
                        <input class="uk-input py-2" id='meeting-id'  type="hidden" readonly>
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon form-icon"><img src="../assets/img/fn.png" alt="input-img"></span>
                                <input class="uk-input py-3" id='username' placeholder="Your Name" required type="text">
                            </div>
                            <div class="uk-alert-danger uk-hidden" id="alert-username" uk-alert>
                                <p class="form-text text-font" id='err-msg-username'></p>
                            </div>
                        </div>

                        <!-- toggle button area -->
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1" >
                                <span uk-icon="icon: microphone; ratio:1.5"  style="cursor: pointer;"></span>
                                <label class="switch">
                                    <input class="switch-input" name="mute-audio" type="checkbox" checked/>
                                    <span class="switch-label" data-on="On" data-off="Off"></span> 
                                    <span class="switch-handle"></span> 
                                </label>
                                <span class="px-3"></span>
                                <span uk-icon="icon: video-camera; ratio:1.5" ></span>
                                <input type="hidden" value="" id='mute-video'>
                                <input type="hidden" value="" id='mute-audio'>
                                <label class="switch">
                                    <input class="switch-input" name="mute-video" type="checkbox" checked/>
                                    <span class="switch-label" data-on="On" data-off="Off"></span> 
                                    <span class="switch-handle"></span> 
                                </label>
                                
                            </div>
                        </div>

                        <div class="uk-margin uk-text-center">
                            <div class="uk-child-width-1-1">
                                <button id="enter-room" 
                                    class="uk-button font-family uk-button-large uk-text-bold uk-text-center uk-border-rounded uk-box-shadow-hover-xlarge"
                                    style="background-color:#2376BC;color:#fff">Go</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-visible@m"></div>
            </div>
        </div>
        <!-- footer -->
        <footer>
            <div class="uk-visible@m">
                <div class="uk-navbar-container footer uk-position-bottom" uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text">Go Back to Royex.live</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-hidden@m">
                <br><br>
                <div class="uk-navbar-container footer" uk-navbar>
                    <div class="uk-navbar-center">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>


    <!-- video window appearance setting -->
    <section class="row m-0 p-0 room-comm" id="main-section" hidden style="min-height: 84vh;height: 84vh;">
        <div class="col-12 col-lg-10 col-xl-10 col-md-10 m-0 p-0" style="background-color: #000;">
            <div class="pt-3 uk-grid-collapse mx-3" uk-grid id='videos'>
                <div class="card" style="border: 1px solid #622C80">
                    <video class="mirror-mode" id='local' volume='0' autoplay muted></video>
                </div>
            </div>
        </div>
        <div class="col-2 col-lg-2 col-xl-2 col-md-2 m-0 p-0 uk-visible@m" id="chat-section"> 
            <div class="participant_area" id='chat-pane'>
                <div class="uk-width-1-1" style="background-color: #622C80;">
                    <h3 class="white_text pl-3 py-2">Participants</h3>
                </div>
                <div class="participant_area px-3 uk-overflow-auto" style="max-height: 20vh;min-height: 20vh;">
                    <ul class="uk-list" id="participant"></ul>
                </div>
            </div>
            <div class="chat_area">
                <div class="uk-width-1-1" style="background-color: #622C80;">
                    <h3 class="white_text pl-3 py-2">Chat</h3>
                </div>
                <div class="chat-panel" id="chat-messages"></div>
                <div class="row m-0 p-0">
                    <div class="textarea m-0 p-0">
                        <textarea id='chat-input' class="uk-textarea" name="chat" placeholder="Type Here" id="" cols="30" rows="3"></textarea>
                        <span id="msg-send-btn" style="z-index: 1000;position: absolute;right: 0px;padding-top: 22px;"><img src="./assets/img/send.png" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="uk-hidden uk-visible@m" id="footer-for-video-panel">
            <div class="uk-navbar-container footer uk-position-bottom" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="" class="white_text">Go Back to Royex.live</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-hidden@s">
            <div class="uk-navbar-container footer uk-position-bottom" uk-navbar>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="" class="white_text font_family">Developed by Royex Technologies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script>
        let room_name_id
        if(location.href.includes('?')){
            let link = location.href.split('?')
            let room = (link[1].split('='));
            let room_name_id = room[1].split('_')
            let room_id = room[1];
    
            for (let i = 1; i < room_name_id.length; i++) {
                room_name_id.pop()
            }
            $('#meeting-name').val(`Meeting Name: ${room_name_id.join(' ')}`)
            $('#meeting-id').val(`${room_id}`)
            $('#meeting-id-leave').val(`${room_id}`)

            let session_name = document.querySelector('#session_name')
            session_name.value = window.sessionStorage.getItem('username')
            document.getElementById('leave-button').addEventListener('click',e=>{
                e.preventDefault()
                let url = location.href.split('?')[0]
                localStorage.setItem('audio',0)
                localStorage.setItem('video',0)
                let session_data = {
                    "session_name":session_name.value,
                    "room_id":room_id
                }
                console.log(session_data);
                //fetch call 
                fetch(`${url}meeting/leave`,{
                    method:'Post',
                    body:JSON.stringify(session_data),
                    headers:{
                        'Content-Type':"application/json"
                    }
                })
                
                location.href ='/'
            })
        }

        

        $(document).ready(function(e) {
            $('input[name="mute-video"]').click(function(){
                if($(this).is(":checked")){
                    $('#mute-video').val('0')
                    localStorage.setItem('video',0) 
                }
                else if($(this).is(":not(:checked)")){
                    $('#mute-video').val('1')
                    localStorage.setItem('video',1) 
                }
            })
            $('input[name="mute-audio"]').click(function(){
                if($(this).is(":checked")){
                    $('#mute-audio').val('0')
                    console.log($('#mute-audio').val());
                    localStorage.setItem('audio',0) 
                }
                else if($(this).is(":not(:checked)")){
                    $('#mute-audio').val('1')
                    console.log($('#mute-audio').val());
                    localStorage.setItem('audio',1) 
                }
            });
        
        let index_video = localStorage.getItem('video');
        $('#mute-video').val(index_video);
        let index_audio = localStorage.getItem('audio');
        $('#mute-audio').val(index_audio);
    });
	
    </script>
</body>
</html>